@font-face {
    font-family: Pixel;
    src: url("fonts/myfont.ttf"); 
}

#prikol{
 width: 100%;
 height:auto;
}

div {
	outline: 1px solid #000;
}


/* меню */
#headerMain {
	width:100vw;
	height: 8vh;
  }

#header {
	width:100vw;
	height: 0px;
	position: fixed;
	z-index: 9999;
}

#ul1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#li1 {
	float: left;
	width: 20vw;
	vertical-align: middle;
}

#a1 {
	position:relative;
	top:2.125vh;
	display: block;
	color: #dedede;
	text-align: center;
	height: 8vh;
	text-decoration: none;
	font-size:1.9em;
	font-family: Pixel;
}

#li1:hover{
	background-color: #111;
}

/* меню */

#men{
	background-color: #111;
}

#ul2 {
	font-family: Pixel;
	font-size:1.8vw;
}


#title2{
	margin-top:2vh;
	margin-bottom:2vh;
	margin-left:10vw;
	width:80vw;
	text-align:center;
	font-family: Pixel;
	font-size:2.5vw;
	color:#dedede;
	float:left;
}

#title3{
	margin-top: 40px;
	margin-bottom: 40px;
	width:100%;
	text-align:center;
	font-family: Pixel;
	font-size:32px;
	color:#dedede;
	float:left;
}

#title4{
	margin-top: 80px;
	margin-bottom: 80px;
	width:100%;
	text-align:center;
	font-family: Pixel;
	font-size:44px;
	color:#dedede;
	float:left;
}


#maintitle {
	width:80vw;
	margin-left:10vw;
	text-align:center;
	font-family: Pixel;
	font-size:4vw;
	color:#dedede;
}

#def{
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 30px;
	width:80%;
	text-align:left;
	font-family: Pixel;
	font-size:2.25vw;
	color:#dedede;
}

#def2{
	float:left;
	margin-left:10%;
	width:80%;
	text-align:left;
	font-family: Pixel;
	font-size:32px;
	color:#dedede;
}
   
.tech{
	width:100%;
	text-align:center;
	font-family: Pixel;
	font-size:66px;
}

#wrap {
     width: 100%;
     margin: 0 auto;
     outline: 1px solid #000;
}

#pic1{
	float:left;
	width: 30%;
	height: 100%;
	text-align:center;
	line-height: 100%;
}

#text1{
	float:left;
	width: 70%;
	text-align:center;
	line-height: 100%;
}


#kl {
	float:left;
	margin-left:10vw;
	width:35vw;
}

#kl2 {
	float:left;
	margin-left:10%;
	width:80%;
}

#k2 {
	float:left;
	margin-left:7%;
	width:35%;
}

#k3 {
	float:left;
	margin-left:10%;
	width:45%;
}

#schin{
 float:left;
 margin-left:10vw;
 width: 35vw;
}

#sch{
 width:100%;
 height:auto;
}

#sch2{
	float:right;
	margin-top:6px;
	margin-bottom:100px;
	margin-right:6%;
	width:50.5%;
}

#sch3{
	float:left;
	margin-left: 10%;
	margin-top:60px;
	margin-bottom:40px;
}



#ty{
	color:#dedede;
}

#spec{
	margin-left:5%;
}

#spec2{
	margin-top:40px;
	margin-bottom:40px;
	float:left;
	margin-left:10%;
	width:80%;
}

#l{
	margin-bottom:50px;
}

#table1{
	border-collapse: collapse;
	margin-top:60px;
	margin-bottom:40px;
	width:100%;
	color:#dedede;
	text-align:center;
	font-family: Pixel;
	font-size:32px;
}

td {
	vertical-align: middle;
	padding: 20px;
	text-align: center;
}

th {
	color:#101010;
	vertical-align: middle;
	padding: 20px;
	text-align: center;
}

.scrollup{
	width:40px;
	height:40px;
	opacity:0.3;
	position:fixed;
	bottom:30px;
	right:30px;
	display:none;
	text-indent:-9999px;
	background: url('images/arrow.gif') no-repeat;
}

.scrollup:hover{
	opacity:0.6;
}

#year{
	opacity:0.5;
	width:100px;
	height:40px;
	font-family: Pixel;
	font-size:12px;
	color:#dedede;
	margin-bottom:10px;
	text-align:center;
	line-height:40px;
	left:1.5%;
}

#year:hover{
	opacity:0.9;
}



.y1{
	position:fixed;
	bottom:230px;
	background: url('images/table1.png') no-repeat;
}

.y2{
	position:fixed;
	bottom:180px;
	background: url('images/table2.png') no-repeat;
}

.y3{
	position:fixed;
	bottom:130px;
	background: url('images/table3.png') no-repeat;
}

.y4{
	position:fixed;
	bottom:80px;
	background: url('images/table4.png') no-repeat;
}

.y5{
	position:fixed;
	bottom:30px;
	background: url('images/table5.png') no-repeat;
}

.nice {
	color:#111;
	font-family: Pixel; 
	text-decoration:none;
} 

.nice span {
	transition: 0.3s; 
	text-shadow: 0px 0px 0px #333; 
	position: relative; 
	top: 0px; 
	left: 0px;
} 
.nice span:hover { 
	text-shadow: -6px 6px 0px #333; 
	transition: 0.3s; 
	top: -6px; 
	left: 6px; 
} 
.nice span.space { 
	height: 100%; 
}


