@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }   
}

.hide,
.hide + label + div {
    display: none;
}

.hide:checked + label + div {
    display: block; 
    -webkit-animation:fade ease-in 0.5s; 
    -moz-animation:fade ease-in 0.5s;
    animation:fade ease-in 0.5s; 
}



