html .content, body .content {
	text-align: center;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

html .content span, body .content span {
	width: 30px;
	display: inline-block;
}

.hidden {
	opacity:0;
}

.hidden {
	opacity:0;
}

.console-container {
	margin-top:4vh;
	margin-bottom:2vh;
	width:80vw;
	margin-left:10vw;
	text-align:center;
	font-family: Pixel;
	font-size:5.45vh;
	color:#dedede;
}
.console-underscore {
	display:inline-block;
	position:relative;
	left:10px;
	font-family:Pixel;
}